.headCoun{
    /* background-color: hsl(217, 54%, 11%); */
    background: url(../../../photos/map1.jpg);
    }
.headCoun .maiN{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.headCoun h2{
    font-size: 34px;
    margin-top: 65px;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;

}