.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #002147;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  
}
.navbar a {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  justify-content: space-between;
  font-weight: 500;
  transition: 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a:active{
  color: rgba(255, 255, 255, 0.5);
  
}